<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/index.css">
  <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
      <div style="padding:5px;height:70px;background-color:#ECF0F5">
        <table id="addEmail" border="1">
          <thead>
            <tr><th style="text-align:left">Email</th><th>Customer</th><th>Family</th><th>EmailGroup</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td><input class="form-control" style="width:250px"></td>
              <td><input class="form-control"></td>
              <td><input class="form-control" type="text"></td>
              <td><input class="form-control" type="text"></td>
              <td><Button style="width:100px;height:30px;"></td>
            </tr>
          </tbody>
        </table>
      </div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							产品
						</th>
						<th>
							交付时间
						</th>
						<th>
							状态
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
					</tr>
					<tr class="success">
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Approved
						</td>
					</tr>
					<tr class="error">
						<td>
							2
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							02/04/2012
						</td>
						<td>
							Declined
						</td>
					</tr>
					<tr class="warning">
						<td>
							3
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							03/04/2012
						</td>
						<td>
							Pending
						</td>
					</tr>
					<tr class="info">
						<td>
							4
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Call in to confirm
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>
